In [1]:
import pandas as pd

In [129]:
# d = {'Name' : 'Saurabh Kushwah', 'Phone' : 9340866304, 'Email'  : 'gwl.sk2000@gmail.com'}
# l = [d]
dt_name

              Phone                           Email
Name
saurav   9340866304  saurabhkushwah112000@gmail.com
harshil   789654123                   tom@gmail.com

## Main Code

In [130]:
print("Welcome To The Phone Book Management System")
choice = int(input("\n Press 1 For Add Contact\n Press 2 For Show Contact: "))
if choice == 1:
    print(add_details())
#     return "Thanks For Using This System...."
elif choice == 2:
    print(show_details())
#     return "Thanks For Using This System...."
else: print('Wrong Input Given.....')

Welcome To The Phone Book Management System

 Press 1 For Add Contact
 Press 2 For Show Contact: 2

Press 1 for search by Name
 Press 2 for search by Number1
Enter Full Name : harshil
             Phone          Email
Name
harshil  789654123  tom@gmail.com

In [107]:
dt  = pd.DataFrame(l)
dt

dt_name = dt.copy()
dt_contact  = dt.copy()

dt_name.set_index('Name',inplace = True)
dt_contact.set_index('Phone',inplace = True)

In [106]:
l = []
def add_details():
    count = 0
    n = int(input('Enter n: '))
    for x in range(n):
        print(f"\nData of {x+1} user")
        name = input('Enter name: ')
        phone = int(input('Enter Phone Number: '))
        email = input("Enter your Email Id: ")
        d = {}
        d.update({'Name': name, 'Phone': phone, 'Email' : email})
        count += 1
        l.append(d)
    return 'Phone Number Created Succesfully' 




add_details()

Enter n: 2

Data of 1 user
Enter name: saurav
Enter Phone Number: 9340866304
Enter your Email Id: saurabhkushwah112000@gmail.com

Data of 2 user
Enter name: harshil
Enter Phone Number: 789654123
Enter your Email Id: tom@gmail.com

'Phone Number Created Succesfully'

90

In [ ]:
def delete_data():
    pass

In [114]:
def show_details():
    choice = int(input("\nPress 1 for search by Name\n Press 2 for search by Number"))
    if choice == 1:
        name = input("Enter Full Name : ")
        if name in dt_name.index:
            result = dt_name.loc[[name]]
            return result
        else: print('Name is Not Found...........')
    elif choice == 2:
        mob = int(input("Enter Number : "))
        if mob in dt_contact.index:
            result1 = dt_contact.loc[[mob]]
            return result1
        else: print('Number is Not Found...........')
    else: print('Wrong Input Given.....Pls Enter a Valid input...')
         
show_details()

Press 1 for search by Name
 Press 2 for search by Number1
Enter Full Name : harshil

             Phone          Email
Name
harshil  789654123  tom@gmail.com

In [148]:
def update_details():
    pass

In [103]:
dt

              Name       Phone                 Email
0  Saurabh Kushwah  9340866304  gwl.sk2000@gmail.com